<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="vehicle">
      <h2 data-cy="vehicleDetailsHeading"><span jhiTranslate="rmkproApp.vehicle.detail.title">Vehicle</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vehicle.id }}</span>
        </dd>
        <dt><span jhiTranslate="rmkproApp.vehicle.registrationNumber">Registration Number</span></dt>
        <dd>
          <span>{{ vehicle.registrationNumber }}</span>
        </dd>
        <dt><span jhiTranslate="rmkproApp.vehicle.firstRegistrationDate">First Registration Date</span></dt>
        <dd>
          <span>{{ vehicle.firstRegistrationDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="rmkproApp.vehicle.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'rmkproApp.VehicleStatus.' + vehicle.status }}">{{ vehicle.status }}</span>
        </dd>
        <dt><span jhiTranslate="rmkproApp.vehicle.mileage">Mileage</span></dt>
        <dd>
          <span>{{ vehicle.mileage }}</span>
        </dd>
        <dt><span jhiTranslate="rmkproApp.vehicle.reservePrice">Reserve Price</span></dt>
        <dd>
          <span>{{ vehicle.reservePrice }}</span>
        </dd>
        <dt><span jhiTranslate="rmkproApp.vehicle.proposedSalePrice">Proposed Sale Price</span></dt>
        <dd>
          <span>{{ vehicle.proposedSalePrice }}</span>
        </dd>
        <dt><span jhiTranslate="rmkproApp.vehicle.netBookValue">Net Book Value</span></dt>
        <dd>
          <span>{{ vehicle.netBookValue }}</span>
        </dd>
        <dt><span jhiTranslate="rmkproApp.vehicle.trim">Trim</span></dt>
        <dd>
          <div *ngIf="vehicle.trim">
            <a [routerLink]="['/trim', vehicle.trim?.id, 'view']">{{ vehicle.trim?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="rmkproApp.vehicle.owner">Owner</span></dt>
        <dd>
          <div *ngIf="vehicle.owner">
            <a [routerLink]="['/legal-entity', vehicle.owner?.id, 'view']">{{ vehicle.owner?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="rmkproApp.vehicle.colour">Colour</span></dt>
        <dd>
          <div *ngIf="vehicle.colour">
            <a [routerLink]="['/colour', vehicle.colour?.id, 'view']">{{ vehicle.colour?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/vehicle', vehicle.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
