<div>
  <h2 id="page-heading" data-cy="ModelHeading">
    <span jhiTranslate="rmkproApp.model.home.title">Models</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rmkproApp.model.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-model"
        [routerLink]="['/model/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rmkproApp.model.home.createLabel"> Create a new Model </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="models?.length === 0">
    <span jhiTranslate="rmkproApp.model.home.notFound">No models found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="models && models.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="rmkproApp.model.label">Label</span></th>
          <th scope="col"><span jhiTranslate="rmkproApp.model.make">Make</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let model of models; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/model', model.id, 'view']">{{ model.id }}</a>
          </td>
          <td>{{ model.label }}</td>
          <td>
            <div *ngIf="model.make">
              <a [routerLink]="['/make', model.make?.id, 'view']">{{ model.make?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/model', model.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/model', model.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(model)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
