<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vehicle-heading" data-cy="VehicleCreateUpdateHeading" jhiTranslate="rmkproApp.vehicle.home.createOrEditLabel">
        Create or edit a Vehicle
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rmkproApp.vehicle.registrationNumber" for="field_registrationNumber"
            >Registration Number</label
          >
          <input
            type="text"
            class="form-control"
            name="registrationNumber"
            id="field_registrationNumber"
            data-cy="registrationNumber"
            formControlName="registrationNumber"
          />
          <div
            *ngIf="
              editForm.get('registrationNumber')!.invalid &&
              (editForm.get('registrationNumber')!.dirty || editForm.get('registrationNumber')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('registrationNumber')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rmkproApp.vehicle.firstRegistrationDate" for="field_firstRegistrationDate"
            >First Registration Date</label
          >
          <div class="input-group">
            <input
              id="field_firstRegistrationDate"
              data-cy="firstRegistrationDate"
              type="text"
              class="form-control"
              name="firstRegistrationDate"
              ngbDatepicker
              #firstRegistrationDateDp="ngbDatepicker"
              formControlName="firstRegistrationDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="firstRegistrationDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('firstRegistrationDate')!.invalid &&
              (editForm.get('firstRegistrationDate')!.dirty || editForm.get('firstRegistrationDate')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('firstRegistrationDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rmkproApp.vehicle.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'rmkproApp.VehicleStatus.null' | translate }}</option>
            <option value="REQ_FOR_COLLECTION">{{ 'rmkproApp.VehicleStatus.REQ_FOR_COLLECTION' | translate }}</option>
            <option value="COLLECTED">{{ 'rmkproApp.VehicleStatus.COLLECTED' | translate }}</option>
            <option value="IN_AUCTION">{{ 'rmkproApp.VehicleStatus.IN_AUCTION' | translate }}</option>
            <option value="SOLD">{{ 'rmkproApp.VehicleStatus.SOLD' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rmkproApp.vehicle.mileage" for="field_mileage">Mileage</label>
          <input type="number" class="form-control" name="mileage" id="field_mileage" data-cy="mileage" formControlName="mileage" />
          <div *ngIf="editForm.get('mileage')!.invalid && (editForm.get('mileage')!.dirty || editForm.get('mileage')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('mileage')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('mileage')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rmkproApp.vehicle.reservePrice" for="field_reservePrice">Reserve Price</label>
          <input
            type="number"
            class="form-control"
            name="reservePrice"
            id="field_reservePrice"
            data-cy="reservePrice"
            formControlName="reservePrice"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rmkproApp.vehicle.proposedSalePrice" for="field_proposedSalePrice"
            >Proposed Sale Price</label
          >
          <input
            type="number"
            class="form-control"
            name="proposedSalePrice"
            id="field_proposedSalePrice"
            data-cy="proposedSalePrice"
            formControlName="proposedSalePrice"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rmkproApp.vehicle.netBookValue" for="field_netBookValue">Net Book Value</label>
          <input
            type="number"
            class="form-control"
            name="netBookValue"
            id="field_netBookValue"
            data-cy="netBookValue"
            formControlName="netBookValue"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rmkproApp.vehicle.trim" for="field_trim">Trim</label>
          <select class="form-control" id="field_trim" data-cy="trim" name="trim" formControlName="trim">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="trimOption.id === editForm.get('trim')!.value?.id ? editForm.get('trim')!.value : trimOption"
              *ngFor="let trimOption of trimsSharedCollection; trackBy: trackTrimById"
            >
              {{ trimOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rmkproApp.vehicle.owner" for="field_owner">Owner</label>
          <select class="form-control" id="field_owner" data-cy="owner" name="owner" formControlName="owner">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="legalEntityOption.id === editForm.get('owner')!.value?.id ? editForm.get('owner')!.value : legalEntityOption"
              *ngFor="let legalEntityOption of legalEntitiesSharedCollection; trackBy: trackLegalEntityById"
            >
              {{ legalEntityOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rmkproApp.vehicle.colour" for="field_colour">Colour</label>
          <select class="form-control" id="field_colour" data-cy="colour" name="colour" formControlName="colour">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="colourOption.id === editForm.get('colour')!.value?.id ? editForm.get('colour')!.value : colourOption"
              *ngFor="let colourOption of coloursSharedCollection; trackBy: trackColourById"
            >
              {{ colourOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
