<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-colour-heading" data-cy="ColourCreateUpdateHeading" jhiTranslate="rmkproApp.colour.home.createOrEditLabel">
        Create or edit a Colour
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rmkproApp.colour.label" for="field_label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
          <div *ngIf="editForm.get('label')!.invalid && (editForm.get('label')!.dirty || editForm.get('label')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('label')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rmkproApp.colour.paintType" for="field_paintType">Paint Type</label>
          <select class="form-control" name="paintType" formControlName="paintType" id="field_paintType" data-cy="paintType">
            <option [ngValue]="null">{{ 'rmkproApp.PaintType.null' | translate }}</option>
            <option value="SOLID">{{ 'rmkproApp.PaintType.SOLID' | translate }}</option>
            <option value="METALLIC">{{ 'rmkproApp.PaintType.METALLIC' | translate }}</option>
            <option value="PEARLESCENT">{{ 'rmkproApp.PaintType.PEARLESCENT' | translate }}</option>
            <option value="MATTE">{{ 'rmkproApp.PaintType.MATTE' | translate }}</option>
            <option value="SPECIAL">{{ 'rmkproApp.PaintType.SPECIAL' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('paintType')!.invalid && (editForm.get('paintType')!.dirty || editForm.get('paintType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paintType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
