<div>
  <h2 id="page-heading" data-cy="LegalEntityHeading">
    <span jhiTranslate="rmkproApp.legalEntity.home.title">Legal Entities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rmkproApp.legalEntity.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-legal-entity"
        [routerLink]="['/legal-entity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rmkproApp.legalEntity.home.createLabel"> Create a new Legal Entity </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="legalEntities?.length === 0">
    <span jhiTranslate="rmkproApp.legalEntity.home.notFound">No legalEntities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="legalEntities && legalEntities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="rmkproApp.legalEntity.postCode">Post Code</span></th>
          <th scope="col"><span jhiTranslate="rmkproApp.legalEntity.streetAddress">Street Address</span></th>
          <th scope="col"><span jhiTranslate="rmkproApp.legalEntity.email">Email</span></th>
          <th scope="col"><span jhiTranslate="rmkproApp.legalEntity.phone">Phone</span></th>
          <th scope="col"><span jhiTranslate="rmkproApp.legalEntity.type">Type</span></th>
          <th scope="col"><span jhiTranslate="rmkproApp.legalEntity.person">Person</span></th>
          <th scope="col"><span jhiTranslate="rmkproApp.legalEntity.company">Company</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let legalEntity of legalEntities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/legal-entity', legalEntity.id, 'view']">{{ legalEntity.id }}</a>
          </td>
          <td>{{ legalEntity.postCode }}</td>
          <td>{{ legalEntity.streetAddress }}</td>
          <td>{{ legalEntity.email }}</td>
          <td>{{ legalEntity.phone }}</td>
          <td jhiTranslate="{{ 'rmkproApp.LegalEntityType.' + legalEntity.type }}">{{ legalEntity.type }}</td>
          <td>
            <div *ngIf="legalEntity.person">
              <a [routerLink]="['/person', legalEntity.person?.id, 'view']">{{ legalEntity.person?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="legalEntity.company">
              <a [routerLink]="['/company', legalEntity.company?.id, 'view']">{{ legalEntity.company?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/legal-entity', legalEntity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/legal-entity', legalEntity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(legalEntity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
