<div>
  <h2 id="page-heading" data-cy="ColourHeading">
    <span jhiTranslate="rmkproApp.colour.home.title">Colours</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rmkproApp.colour.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-colour"
        [routerLink]="['/colour/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rmkproApp.colour.home.createLabel"> Create a new Colour </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="colours?.length === 0">
    <span jhiTranslate="rmkproApp.colour.home.notFound">No colours found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="colours && colours.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="rmkproApp.colour.label">Label</span></th>
          <th scope="col"><span jhiTranslate="rmkproApp.colour.paintType">Paint Type</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let colour of colours; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/colour', colour.id, 'view']">{{ colour.id }}</a>
          </td>
          <td>{{ colour.label }}</td>
          <td jhiTranslate="{{ 'rmkproApp.PaintType.' + colour.paintType }}">{{ colour.paintType }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/colour', colour.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/colour', colour.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(colour)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
