<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="legalEntity">
      <h2 data-cy="legalEntityDetailsHeading"><span jhiTranslate="rmkproApp.legalEntity.detail.title">Legal Entity</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ legalEntity.id }}</span>
        </dd>
        <dt><span jhiTranslate="rmkproApp.legalEntity.postCode">Post Code</span></dt>
        <dd>
          <span>{{ legalEntity.postCode }}</span>
        </dd>
        <dt><span jhiTranslate="rmkproApp.legalEntity.streetAddress">Street Address</span></dt>
        <dd>
          <span>{{ legalEntity.streetAddress }}</span>
        </dd>
        <dt><span jhiTranslate="rmkproApp.legalEntity.email">Email</span></dt>
        <dd>
          <span>{{ legalEntity.email }}</span>
        </dd>
        <dt><span jhiTranslate="rmkproApp.legalEntity.phone">Phone</span></dt>
        <dd>
          <span>{{ legalEntity.phone }}</span>
        </dd>
        <dt><span jhiTranslate="rmkproApp.legalEntity.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'rmkproApp.LegalEntityType.' + legalEntity.type }}">{{ legalEntity.type }}</span>
        </dd>
        <dt><span jhiTranslate="rmkproApp.legalEntity.person">Person</span></dt>
        <dd>
          <div *ngIf="legalEntity.person">
            <a [routerLink]="['/person', legalEntity.person?.id, 'view']">{{ legalEntity.person?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="rmkproApp.legalEntity.company">Company</span></dt>
        <dd>
          <div *ngIf="legalEntity.company">
            <a [routerLink]="['/company', legalEntity.company?.id, 'view']">{{ legalEntity.company?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/legal-entity', legalEntity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
